@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;

  background-color: rgba(0, 0, 0, 0.5);

  animation: slideIn 0.3s ease-in-out;
}

.order {
  position: absolute;
  top: 0;
  right: 0;

  width: 350px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 30px;

  overflow: auto;

  &_dark {
    background-color: rgb(26, 26, 27);
  }

  &__cartCloseButton {
    border: none;
    padding: 0;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    border: 1px solid rgb(193, 212, 230);
    border-radius: 8px;
    background-image: url(../../images/backArrow.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  &__titleWrap {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    &_dark {
      color: rgb(193, 212, 230);
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    list-style: none;
  }

  &__total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__totalSum {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    &_dark {
      color: rgb(193, 212, 230);
    }
  }

  &__totalTax {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    &_dark {
      color: rgb(193, 212, 230);
    }
  }

  &__button {
    width: 100%;
    height: 50px;
    background-color: #9dd558;
    border: none;
    border-radius: 18px;
    color: aliceblue;

    &:active {
      transform: scale(0.9);
    }

    &:hover {
      cursor: pointer;
      scale: 1.03;
      transition: scale 0.15s ease-in-out;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #7f8775;
    }

    @media (max-width: 880px) {
      & {
        margin-bottom: 80px;
      }
    }
  }
}
