.main {
  padding: 0 45px;

  display: flex;
  flex-direction: column;

  @media (max-width: 880px) {
    & {
      padding: 0 20px;
    }
  }

  @media (max-width: 500px) {
    & {
      padding: 0 10px;
    }
  }

  &__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 880px) {
      & {
        gap: 12px;
      }
    }
    @media (max-width: 500px) {
      & {
        gap: 8px;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    @media (max-width: 880px) {
      & {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  &__searchInput {
    width: 250px;
    height: 45px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    @media (max-width: 880px) {
      & {
        width: 120px;
        height: 24px;
      }
    }
  }

  &__cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    justify-content: space-between;

    @media (max-width: 880px) {
      & {
        gap: 20px;
      }
    }

    @media (max-width: 500px) {
      & {
        gap: 10px;
      }
    }
  }
}
