.main {
  padding: 0 45px;

  display: flex;
  flex-direction: column;

  &_dark {
    background-color: rgb(26, 26, 27);
    border-radius: 0 0 20px 20px;
  }

  @media (max-width: 880px) {
    & {
      padding: 0 20px;
    }
  }

  @media (max-width: 500px) {
    & {
      padding: 0 10px;
    }
  }

  &__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 880px) {
      & {
        gap: 12px;
      }
    }
    @media (max-width: 500px) {
      & {
        gap: 8px;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    @media (max-width: 880px) {
      & {
        font-size: 24px;
        line-height: 24px;
      }
    }

    &_dark {
      color: rgb(193, 212, 230);
    }
  }

  &__searchInput {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding-left: 10px;

    &::placeholder {
      padding-left: 10px;
    }

    &:focus {
      outline: none;
    }

    @media (max-width: 880px) {
      & {
        width: 178px;
        height: 36px;
      }
    }

    @media (max-width: 500px) {
      & {
        width: 148px;
        height: 24px;
      }
    }
  }

  &__cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 20px;

    justify-content: space-around;

    @media (max-width: 880px) {
      & {
        gap: 20px;
      }
    }

    @media (max-width: 500px) {
      & {
        gap: 20px 15px;
      }
    }
  }
}
