.card {
  box-sizing: border-box;
  width: 210px;
  height: 340px;
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  }

  @media (max-width: 880px) {
    & {
      width: 180px;
      height: 300px;
    }
  }

  @media (max-width: 500px) {
    & {
      width: 150px;
      height: 260px;
    }
  }

  &__photoContainer {
    position: relative;
    width: 100%;
  }

  &__favButton {
    position: absolute;
    top: 0px;
    left: 0px;

    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;

    background-color: transparent;
    background-image: url(../../images/addToFavBtn.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }

    &_active {
      border-color: #fef0f0;
      background-color: #fef0f0;
      background-image: url(../../images/addToFavBtn_active.svg);
    }
  }

  &__productPhoto {
    display: block;
    width: 100%;
  }

  &__productTitle {
    margin: 0;
    min-height: 34px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__bottomContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__priceContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__priceTitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    color: #bdbdbd;
    margin: 0;
  }

  &__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }

  &__addToCartButton {
    padding: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #f2f2f2;
    border-radius: 8px;

    background-color: transparent;
    background-image: url(../../images/addToCartButton.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }

    &_active {
      background-image: url(../../images/addToCartBtn_active.svg),
        linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
    }
  }
}
