.header {
  min-height: 128px;
  border-bottom: 1px solid #eaeaea;

  padding: 0 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 880px) {
    & {
      padding: 0 20px;
      min-height: 96px;
    }
  }

  @media (max-width: 500px) {
    & {
      padding: 0 10px;
    }
  }

  &__logoContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 880px) {
      & {
        gap: 12px;
      }
    }
    @media (max-width: 500px) {
      & {
        gap: 8px;
      }
    }
  }

  &__logo {
    transform: translateY(-10px);
    @media (max-width: 500px) {
      & {
        width: 30px;
      }
    }
  }

  &__logoTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logoTitle {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: black;

    @media (max-width: 880px) {
      & {
        font-size: 16px;
        line-height: 14px;
      }
    }

    @media (max-width: 500px) {
      & {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  &__logoDescription {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #9d9d9d;

    @media (max-width: 880px) {
      & {
        font-size: 12px;
        line-height: 14px;
      }
    }

    @media (max-width: 500px) {
      & {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &__iconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 500px) {
      & {
        gap: 10px;
      }
    }
  }

  &__cartIcon {
    margin-right: -22px;

    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }

    @media (max-width: 880px) {
      & {
        margin-right: -6px;
      }
    }

    @media (max-width: 500px) {
      & {
        width: 16px;
      }
    }
  }

  &__favoriteIcon {
    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }

    @media (max-width: 500px) {
      & {
        width: 16px;
      }
    }
  }

  &__profileIcon {
    &:hover {
      cursor: pointer;
      scale: 1.1;
      transition: scale 0.15s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }

    @media (max-width: 500px) {
      & {
        width: 16px;
      }
    }
  }

  &__totalSum {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #5c5c5c;

    &:active {
      transform: scale(0.9);
    }

    &:hover {
      cursor: pointer;
      scale: 1.03;
      transition: scale 0.15s ease-in-out;
    }
    @media (max-width: 500px) {
      & {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
