.item {
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  min-height: 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
  border: 1px solid rgb(193, 212, 230);
  border-radius: 20px;

  &__image {
    display: block;
    width: 70px;
    border-radius: 15px;
  }

  &__descriptionContainer {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &_dark {
      color: rgb(193, 212, 230);
    }
  }

  &__price {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    &_dark {
      color: rgb(193, 212, 230);
    }
  }

  &__deleteButton {
    width: 32px;
    height: 32px;
    background-image: url(../../images/krest.svg);
    border: 1px solid rgb(193, 212, 230);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;

    &:active {
      transform: scale(0.9);
    }

    &:hover {
      cursor: pointer;
      scale: 1.03;
      transition: scale 0.15s ease-in-out;
    }
  }
}
