.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &__image {
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #9d9d9d;

    text-align: center;
  }
}
